@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
     font-family: "Roboto", sans-serif;
}
.container{
     border: 2px solid lightgray;
     text-align: center;
    
     border-radius: 10px;
    
     padding-top: 70px;
     padding-bottom: 120px;
     margin: 120px  530px  ;
     
     padding-bottom: 20px;
}
.container:hover{
     border: 2px solid #0aa2fa;
}

.otp{
     padding: 2px;
     width: 34px;
     height: 34px;
     color:black;
     font-size: x-large;
     border: 1px solid #e4e9ed;
     border-radius: 2px;
     text-decoration: none;
     outline: none;
     padding-left: 8px;
     margin-left: 5px;
     text-align: center;
}
.otp:hover{
     background-color: #ebedf0;
    
}
button{
     width: 300px;
     height: 30px;
     background-color: #0aa2fa;
     border-radius: 4px;
     color: #fff;
font-size: 15px;
     border: 1px solid #0aa2fa;
}
a{
     text-decoration: none;
     color: #1496fa;
}
/* ########################## sign up page ################ */
.headi{
position: absolute;
top: 1.5rem;
left: 150px;
color: #1e4470;
}
.heading{
     position: absolute;
     top: 3rem;
     left: 150px;
     color: #0d99ff;
}
.vector{
     padding-top: 13px;
     padding-left: 53px;
}
.login{
     border: 2px solid #e9effa;
     background-color: #e9effa;
     font-weight: 500;
     color: #1e4470;
     border-radius: 0.8rem;
     width: 90px;
     height: 25px;
     text-align: center;
     padding-top: 0.5rem;
     margin-top: 25px;
  position: absolute;
  top: '';
  right: 15rem;
  
}
.signup{
     border: 2px solid #1e4470;
     background-color: #1e4470;
     color: #fff;
     border-radius: 0.8rem;
     width: 90px;
     height: 25px;
     text-align: center;
     padding-top: 0.5rem;
     margin-top: 25px;
     position: absolute;
     top: '';
     right: 8rem;
}
.online-marketing{
     text-align: center;
     padding-top: 1.5rem;
}
.positon{
     position: absolute;
     top: 12rem;
     left: 37%;
}
.lighter{
     font-weight: 300    ;
     font-size: 3.5rem;
}
.optimize{
     padding-top: 40px;
     font-size: larger;
}
.search-bar{
     border: 1px solid lightgray;
     border-radius: 12px;
     margin:2rem 28rem ;
}
.search-bar:hover{
     border: 2px solid #0d99ff;
}
.search-engine{
    padding: 5px 0;
     display: flex;
     align-items: center;
     justify-content: center;
}
.type{
     outline: none;
     border: 1px solid #fff;
font-size: large;
}
.audit{
     margin-left: 17.5rem;
     width: 100px;
     height: 50px;
     border: 1px solid #0d99ff;
     border-radius: 10px;
}
.search-icon{
          margin-left: 2rem;
          padding-right: 0.7rem ;
}
.users{
     display: flex;
     flex-direction: row;
     margin: 0 33rem ;     
     /* align-items: center; */
     /* justify-content: center;     */
}
.h1{
     padding-left:0.9rem;
}
.h2{
     padding-left: 0.9rem;
}
.h3{
     padding-left: 1.5rem;
}
.box-1{
     padding-right: 10rem;
}
.box-2{
     padding-right: 10rem;
}
.ameri{
     position: absolute;
     color: gray;
     bottom: 12.8rem;     
}
.footer{
     position: absolute;
     left: 18rem;
     top: 30.2rem;
}